@font-face {
    font-family: "Metal_Mania";
    src: url('fonts/Metal_Mania/MetalMania-Regular.ttf');
}

@font-face {
    font-family: "Bangers";
    src: url('fonts/Bangers/Bangers-Regular.ttf');
}

@font-face {
    font-family: "Tengwar";
    src: url('fonts/tengwar_annatar/tnganb.ttf');
}
@font-face {
    font-family: "Tengwar_i";
    src: url('fonts/tengwar_annatar/tnganbi.ttf');
}
@font-face {
    font-family: "Hobbiton";
    src: url('fonts/hobbiton_brush_hand/hobbitonbrushhand.ttf');
}
@font-face {
    font-family: "Rune";
    src: url('fonts/rune/rune.ttf');
}
@font-face {
    font-family: "star_jedi";
    src: url('fonts/star_jedi/starjedi/Starjedi.ttf');
}
@font-face {
    font-family: "star_jedi_out";
    src: url('fonts/star_jedi/starjout/Starjout.ttf');
}
@font-face {
    font-family: "neuropol_x";
    src: url('fonts/neuropol_x/neuropol_x.ttf');
}


*{
	box-sizing: border-box;
}

html {
	margin:0;
	padding:0;
	
}

body{
	margin:0;
	padding: 0;
}

.floatingModes{
	position: fixed;
	left: calc( 100vw - 154px );
	top:65px;
	background-color: ghostwhite;
	width:auto;
	height:auto;
	text-align: center;
	box-shadow: 0 0 8px black;
}

.floatingBtns {
	width: 150px;
	/*resize:horizontal;
	overflow: auto;*/
}

.floatingControlsLeft{
	background-color: white;
	position: fixed;
	left: 0;
	top: 60px;
	width: 50px;
	text-align: center;
}

.floatBtn{
	cursor: pointer;
	user-select: none;
	
}

.floatingModeTitle{
	height: 40px;
}

.modeBtn{
	width:2rem;
	height:2rem;
	display: inline-block;
	border: 2px outset darkgray;
	cursor:pointer;
	box-sizing: content-box;
}

.stampBtn{
	width:40px;
	height:40px;
	display: inline-block;
	border: 2px outset darkgray;
	cursor:pointer;
	box-sizing: content-box;
}

.modeBtn:active{
	border: 2px inset darkgray;
}

.modeBtn > img{
	//width:20px;
	//height:20px;
}

.paramBox{
	margin-top:20px;
	border: 1px solid black;
	max-width: 200px;
	overflow-y:auto;
	max-height: 50vh;
}

.paramBox > label {
	font-size:8pt;
	
}

.paramTitle{
	font-size:10pt;
	display: inline-block;
}

.topBar{
	height: 60px;
	background-color: rgb(133, 212, 222);
}